In [1]:
import yaml
import tweepy
import datetime
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm

In [2]:
with open("twitter_api.yaml", "r") as yf:
    data = yaml.safe_load(yf)

In [3]:
## èªè¨¼å‡¦ç†
consumer_key = data['consumer_key']
consumer_secret = data['consumer_secret']
access_token_key = data['access_token_key']
access_token_secret = data['access_token_secret']
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token_key, access_token_secret)
api = tweepy.API(auth)

In [4]:
## ãƒ„ã‚¤ãƒ¼ãƒˆå–å¾—
def get_tweets(screen_name):
    tweet_data = []
    for tweet in tqdm(tweepy.Cursor(api.user_timeline,
                                    screen_name = screen_name,
                                    exclude_replies = False).items()):
            tweet_data.append([tweet.id,
                               tweet.created_at+datetime.timedelta(hours=9),
                               tweet.text.replace('\n',''),
                               tweet.favorite_count,
                               tweet.retweet_count])

    columns_name = ["ID","time","text","fav", "RT"]        
    df = pd.DataFrame(tweet_data, columns=columns_name)
    return df

In [5]:
## å–å¾—å¯¾è±¡ã®ã‚¹ã‚¯ãƒªãƒ¼ãƒ³ãƒãƒ¼ãƒ 
dfs = {}

screen_name = 'heyshirokuma'
dfs[screen_name] = get_tweets(screen_name)

screen_name = 'kamoshika_en'
dfs[screen_name] = get_tweets(screen_name)

121it [00:01, 69.58it/s]
3201it [00:42, 76.09it/s]

In [6]:
df = dfs['kamoshika_en'].copy()

In [7]:
df.head()

,ID,time,text,fav,RT
0,1303525161996488706,2020-09-09 11:46:31,31æ­³ã«ãªã£ãŸã®ã¯å…ˆæœˆã§ã™ï¼ãƒ•ã‚©ãƒ­ãƒ¯ãƒ¼ã®çš†æ§˜ã„ã¤ã‚‚ã‚ã‚ŠãŒã¨ã†ã”ã–ã„ã¾ã™ğŸ˜Š,5,0
1,1303525160155115521,2020-09-09 11:46:31,"ã‚¢ãƒ¼ãƒªãƒ¼ãƒªã‚¿ã‚¤ã‚¢ã§ãã‚‹ç’°å¢ƒã‚’æ•´ãˆæœ¬æ¥­å¹´å1,500ä¸‡+è¤‡æ¥­å¹´å2,500ä¸‡ã€‚æµ·ã®ãã°ã¸å¼•ã£è¶Š...",89,1
2,1303522917611757568,2020-09-09 11:37:36,@real_shoji ãã†ã§ã™ã‚ˆã­â€¦ã¾ã•ã«ã‚«ãƒ«ãƒãƒ£ãƒ¼ã‚·ãƒ§ãƒƒã‚¯ãŒåƒ•ã‚‚ã‚ã‚Šã¾ã—ãŸğŸ˜‚,1,0
3,1303522771310268417,2020-09-09 11:37:01,@TAKAMARU_update æã‚Œå¤šã„ã§ã™ğŸ™‡â€â™‚ï¸1ç•ªã¯æ—¥ã€…æ–°ã—ã„ã“ã¨ã«æŒ‘æˆ¦ã™ã‚‹ã“ã¨ã§ã—...,1,0
4,1303522540719992832,2020-09-09 11:36:06,@asaitomohide æœ¬å½“ãŠã£ã—ã‚ƒã‚‹é€šã‚Šã§ã™ã‚ˆã­ï¼è¦–é‡ãŒåºƒãŒã‚‹ã¨ç‰©äº‹ãŒç«‹ä½“çš„ã«è¦‹ãˆã€å™¨...,2,0

In [8]:
df.groupby(pd.Grouper(key='time', freq='10min')).count()

                     ID  text  fav  RT
time
2020-07-18 05:50:00   5     5    5   5
2020-07-18 06:00:00   0     0    0   0
2020-07-18 06:10:00   0     0    0   0
2020-07-18 06:20:00   8     8    8   8
2020-07-18 06:30:00   1     1    1   1
...                  ..   ...  ...  ..
2020-09-09 11:00:00   5     5    5   5
2020-09-09 11:10:00   2     2    2   2
2020-09-09 11:20:00   1     1    1   1
2020-09-09 11:30:00   3     3    3   3
2020-09-09 11:40:00   2     2    2   2

[7668 rows x 4 columns]

In [9]:
df.time.resample('30min', level=1).mean()

ValueError: The level 1 is not valid

In [ ]:
df[df.RT > th].groupby(pd.Grouper(key='time', freq='30min')).count()

In [ ]:
RT_th = [10, 50, 100]

for th in RT_th:
    plt.figure()
    plt.title('Retweet > {}'.format(th))
    df.groupby(df[df.RT > th]["time"].dt.hour).count().time.plot(marker='o');
    plt.show()
    plt.close()

In [ ]:
import numpy as np

A = np.random.randint(low=0, high=8, size=(4, 4))
B = ['Giraffe', 'Elephant', 'Bird', 'Fish', 'Bear', 'Lion', 'Dog', 'Cat']

In [ ]:
for i in range(len(B)):
    if i == 0:
        A = np.where(A == i, B[i], A)
    else:
        A = np.where(A == str(i), B[i], A)

In [ ]:
A

In [ ]:
import random

def rand_ints_nodup(a, b, k):
    ns = []
    while len(ns) < k:
        n = random.randint(a, b)
        if not n in ns:
            ns.append(n)
    return ns

In [ ]:
np.array(rand_ints_nodup(0, 10, 7))[np.newaxis, :].shape

In [ ]:
np.random.randint(low=0, high=20, size=(1, 10)).shape

In [ ]:
A

In [ ]:
np.atleast_2d([1., 3., 5., 6., 7., 8.])